* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background-color: #1e293b;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
  text-align: center;
  font-size: 100px;
  font-style: bold;
  background-color: yellow;
  
}

/* Footer */
.footer {
  background-color: #0f172a;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
