
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: rgb(242, 140, 81);
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 36px;
}

.header p {
    margin-top: 8px;
    font-size: 16px;
}

/* Navbar */
.navbar {
    background-color: #333;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: inline-block;
}

.navbar ul li a:hover {
    background-color: #ff6347;
    border-radius: 4px;
}

/* Content */
.content {
    padding: 30px;
    text-align: center;
}

.content h2 {
    margin-bottom: 20px;
    color: #333;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.food-card {
    background-color: #f9f9f9;
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.food-card h3 {
    margin-bottom: 10px;
    color: #ff6347;
}

.food-card p {
    font-size: 14px;
    color: #555;
}

.food-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 282px;

}
